{{define "content"}}
    <main class="container">
        <article class="blog-post">
            <h2 class="blog-post-title">{{.article.Title}}</h2>
            <p class="blog-post-meta">{{.article.CreatedAt.Format "02.01.2006 15:04" }} автором <a href="/u/{{.article.Author.Username}}" target="_blank">@{{.article.Author.Username}}</a></p>

            <div id="article-content-{{.article.ID}}"></div>


        </article>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        document.getElementById('article-content-{{.article.ID}}').innerHTML =
            marked.parse('{{.article.Content}}');
    </script>
{{end}}





