{{define "content"}}
    <main class="container">
        <h1>{{.article.Title}} </h1>
        <p>{{.article.Topic.Title}}</p>
        <hr/>
        <div id="content"></div>
        <br>
        <p><i>Опубликовано @{{.user.Username}} {{.article.CreatedAt.Format "02.01.2006 15:04" }}, обновлено {{.article.UpdatedAt.Format "02.01.2006 15:04"}}</i></p>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script>
        document.getElementById('content').innerHTML =
            marked.parse('{{.article.Content}}');
    </script>
{{end}}





