{{ define "content" }}
    <link rel="stylesheet" href="/static/css/editor.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
<link rel="stylesheet" href="/static/css/use-bootstrap-tag.css" />
<body>
<form method="post" id="article-form">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <h3>Новая статья</h3>
                </div>
            </div>
            <div class="col-4">
                <div class="col-auto" >

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <input class="form-control form-control-lg" type="text" name="title" placeholder="Заголовок статьи"
                           aria-label="Article Title" value="{{.form.Title}}">
                </div>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary mb-3">Опубликовать</button>
{{/*                <button type="submit" class="btn btn-secondary mb-3">Сохранить как черновик</button>*/}}
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <textarea id="editor" name="content" >{{.form.Content}}</textarea>
                </div>
            </div>
            <div class="col-4">
                <h3>Рубрика</h3>
                <select class="form-select form-select-lg mb-3" name="topic_id" aria-label="topics">
                    {{range .topics}}
                        <option value="{{.ID}}">{{.Title}}</option>
                    {{end}}
                </select>
                <h3>Теги</h3>
                <input type="text" class="form-control" name="tags" id="tags" value="{{.form.Tags}}">
                <br />
                <p style="font-size: large; color: #198754">
                    {{if .article}}
                        Статья "<a href="/articles/{{.article.ID}}" target="_blank">{{.article.Title}}</a>" успешно опубликована!
                    {{end}}
                </p>
            </div>
        </div>
        <div class="success">

        </div>
        <div class="error">
            {{.error}}
        </div>
    </div>

</form>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script src="/static/js/use-bootstrap-tag.min.js"></script>
<script src="/static/js/editor.js" type="text/javascript"></script>

{{ end }}



